assets/files
assets/images
assets/pdf
assets/sitemaps
assets/temp_files
node_modules
public/hot
public/storage
storage/*.key
core/storage
core/vendor
core/.env
core/.env.backup
core/.phpunit.result.cache
core/Homestead.json
core/Homestead.yaml
core/npm-debug.log
core/yarn-error.log