@import 'mixins';

:root,
*,
*::before,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #242424;
}
a{
	text-decoration: none;
}
div{
	&[aria-expanded="true"],
	&[aria-visibility="show"]{
		display: none;
		pointer-events: none;
		opacity: 0;
	}
}
input[type="radio"], input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
.dc_show{
	display: none;
	opacity: 0;
	visibility: hidden;
	user-select: none;
}
*[mod-integration='production']{
	color: #367dff !important;
}
*[mod-integration='test']{
	color: #f3545d !important;
}
/* CUSTOMS */
.cLogo__modal-header{
	max-width: 190px;
	width: 95%;
	height: auto;
	margin: 0 auto;
	img{
		padding: 0;
	}
	h1,h2,h3,h4,h5,h6, p{
		margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
	}
}
/* PAYMENT */
.c-frmpayment_dmss{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-flow: nowrap column;
	flex: 0 0 100%;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
	&__cLogo{
		max-width: 215px;
		width: 90%;
		padding: 1rem 0;
	}
}
.swtchStyl--Rock{
	@include switch-Rocker-style(0.65rem, #222, #367dff, #f3545d);
}
/* SWITCH DEL VALIDACIÓN */
.switch {
	opacity: 0;
	position: absolute;
	z-index: 1;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
.switch+.switch-body {
	position: relative;
	display: inline-block;
	margin: 0;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
.switch.switch-bootstrap+.switch-body:before {
	background-color: #d2d9e1;
	width: 50px;
	height: 25px;
	-webkit-transition: background 0.1s ease;
	-o-transition: background 0.1s ease;
	transition: background 0.1s ease;
}
.switch+.switch-body:before {
	content: "";
	cursor: pointer;
	display: inline-block;
	position: relative;
	border-radius: 100px;
	top: auto;
}
.switch.switch-bootstrap:checked+.switch-body:after {
	left: 25px;
	background-color: #FFF;
	border: thin solid #eee;
	text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
.switch.switch-bootstrap+.switch-body:after {
	content: '';
	position: absolute;
	top: 0;
	left: 1px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: thin solid #eee;
	-webkit-transition: left 0.2s ease;
	-o-transition: left 0.2s ease;
	transition: left 0.2s ease;
}
.switch+.switch-body+.switch-text {
	display: inline-block;
	padding-top: 2px;
	font-size: 13px;
}
/* CUSTOMS */
#header_search_form .input-group-btn{
	top: 20px;
}
.checkut-page .card-body h1,
.checkut-page .card-body h2,
.checkut-page .card-body h3,
.checkut-page .card-body h4,
.checkut-page .card-body h5,
.checkut-page .card-body h6{
	font-weight: 600;
}
.site-header .search-box-wrap .input-group .serch-result .s-r-inner{
	max-height: 380px !important;
	height: auto !important;
}
.cCt_wtpsNmbrs{
	&__c{
		&__m{
			border: thin solid #eee;
			box-shadow: 0 3px 3px 0px #eee;
			border-radius: 4px;
			margin-bottom: 1rem;
			padding: 10px 15px 10	px 10px ;
			&__i{
				
			}
		}
	}
}
.cFrmCtrl__cIcon--R{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	max-width: 42px;
	width: 42px;
	padding: 0 .6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 3;
	user-select: none;
	svg{
		display: table;
    fill: #666;
	}
}
.cLogoFrmSignInAdm{
	max-width: 185px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

.cCrd{
	&__cTitle{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-flow: row wrap;
		margin-bottom: 1rem;
	}
	&__cTitle__cL{
		margin-right: auto;
		width: auto;
	}
	&__cTitle__cR{
		margin-left: auto;
		width: auto;
		a{
			padding: 3px 10px !important;
		}
	}
}
.cDownPDF__cTitle__c{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
}
.cDownPDF__cTitle__c__cBtnDown{
	margin: 0 auto 0 auto;
	width: auto;
	@media(min-width: 768px){
			margin: 0 0 0 auto;
	}
}
#cTentr-af1698__1prevChckp span svg{
	width: 27px;
	height: 28px;
	fill: #fff;
	position: relative;
	top: 4px;
	margin-left: 6px;
}

.border-list-switchs{
	border: thin solid #ededed;
	border-radius: 4px;
}
.c-sWitch__c--cDesign-1{
	&__c{
		position: relative;
  	display: inline-block;
		top: 4px;
    margin-right: 0.45rem;
		&::after,
		&::before{
			font-family: FontAwesome;
			font-feature-settings: normal;
			-webkit-font-kerning: auto;
							font-kerning: auto;
			font-language-override: normal;
			font-stretch: normal;
			font-style: normal;
			font-synthesis: weight style;
			font-variant: normal;
			font-weight: normal;
			text-rendering: auto;
		}
		label{
			width: 35px;
			height: 18px;
			background: #ccc;
			position: relative;
			display: inline-block;
			border-radius: 46px;
			transition: 0.25s;
			margin-bottom: 0 !important;
			&::after{
				content: '';
				position: absolute;
				width: 18px;
				height: 18px;
				border-radius: 100%;
				left: 0;
				// top: -5px;
				top: 0;
				z-index: 2;
				background: #fff;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
				transition: 0.25s;
			}
		}
		input{
			position: absolute !important;
			left: 0 !important;
			top: 0 !important;
			width: 100% !important;
			height: 100% !important;
			z-index: 5 !important;
			opacity: 0 !important;
			cursor: pointer !important;
		}
		input:checked + label{
			background: #4BD865;
		}
		input:checked + label:after{
			left: 17px;
		}
		&__label{
			width: 75px;
			&::after{
				top: 0;
				width: 42px;
				height: 42px;
			}
		}
	}
}
.c-sRadioBtn__c--cDesign-1{
	&__c{
		position: relative;
  	display: inline-block;
		top: 2px;
		label{
			
		}
		&__label{
			
		}
	}
}
.cPreviewAmmountIGV{
	span{
		&:first-child{
			color: #000;
		}
		&:nth-child(2){
			font-weight: bold;
			color: #4BD865;
		}
		&:last-child{

		}
	}
}
#c-modalPrevOrderPDF{
	max-width: 1360px !important;
	width: 96% !important;
	height: 100%;
	margin: 0.75rem auto 1.75rem auto;
}
#c-modalPrevOrderPDF .modal-content{
	height: 100%;
}
#cTentr-af1698__1prevChckp-show{
	width: 100%;
	height: 100%;
}
#cTentr-af1698__1prevChckp-show embed{
	width: 100%;
	height: 100%;
}
#cTentr-af1698__1prevChckpPDFDown span{
	position: relative;
	top: -1px;
}
#cTentr-af1698__1prevChckpPDFDown svg{
	position: relative;
	fill: #fff;
	top: 2px;
}
#cTentr-af1698__1prevChckp span svg{
	width: 27px;
	height: 28px;
	fill: #fff;
	position: relative;
	top: 4px;
	margin-left: 6px;
}